<h2><%= form_title %></h2>

<% if upvote.errors.any? %>
    <% upvote.errors.full_messages.each do |msg| %>
      <p> <%= msg %></p>
    <% end %>
  <% end %>

  <%= form_for(upvote) do |f| %>
    <label for="title">Which Link Are You Voting For?</label>
    <%= f.select :link_id, options_from_collection_for_select(Link.all, :id, :title) %><p>

      <p><div class ='actions text-center'>
        <%= f.submit class: 'btn btn-primary' %>
  <% end %>
