<h2><%= link.title %></h2>
<p><%= auto_link(link.url) %></p>
<p><%= link.upvotes.count %></p>
<p class='btn primary'><%= link_to "Upvote", new_upvote_path %></p>
<p class='btn primary'><%= link_to "Downvote", new_downvote_path %></p>
